html,
body {
  height: 100%;
  line-height: 100%;
  margin: 0;
}
body {
  background-color: #eceef5;
  font-family: "Roboto Light";
  font-size: 15px;
}
a.btn-floating {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 24px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #335baf;
  color: #fff;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a.btn-floating.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.side-chat {
  position: fixed;
  width: 0px;
  height: 100%;
  right: 0;
  z-index: 100;
  background-color: #fff;
  visibility: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.side-chat.active {
  visibility: visible;
}
.side-chat .side-chat-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.side-chat .side-chat-content #user-list,
.side-chat .side-chat-content #message-list {
  width: 100%;
  height: calc(100% - 110px);
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
.side-chat .user-panel {
  position: relative;
  height: 110px;
  background-color: #fff;
  border-bottom: 1px solid #eceef5;
}
.side-chat .user-panel .ava {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 20px);
  left: 40px;
}
.side-chat .user-panel .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 20px;
  left: 90px;
  width: 0;
  color: #192d57;
}
.side-chat .user-panel .actions {
  position: absolute;
  list-style: none;
  padding: 0;
  right: 40px;
  top: calc(50% - 15px);
}
.side-chat .user-panel .actions li {
  margin-left: 10px;
  display: inline-block;
}
.side-chat .user-panel .actions li a {
  display: inline-block;
  background-color: #eceef5;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #335baf;
}
.side-chat a.chat-back:hover,
.side-chat a.chat-back:focus {
  text-decoration: none;
}
.side-chat .lead {
  color: #4a4a4a;
  font-family: "Roboto Thin";
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 34px;
}
.side-chat .lead .fa {
  position: absolute;
  left: 20px;
  top: 40px;
  color: #335baf;
}
.side-chat .list-group {
  height: calc(100% - 156px);
  overflow: hidden;
  overflow-y: visible;
  margin-bottom: 0;
}
.side-chat .list-group .list-group-item {
  border: none;
  font-family: 'Roboto';
  font-size: 15px;
  position: relative;
  margin: 0;
  color: #335baf;
  height: 70px;
}
.side-chat .list-group .list-group-item:hover,
.side-chat .list-group .list-group-item:focus {
  color: #335baf;
  background-color: rgba(236,238,245,0.2);
}
.side-chat .list-group .list-group-item:first-child,
.side-chat .list-group .list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.side-chat .list-group .list-group-item:after {
  content: '';
  height: 1px;
  width: calc(100% - 40px);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #eceef5;
}
.side-chat .list-group .list-group-item .ava {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 15px);
  left: 40px;
}
.side-chat .list-group .list-group-item .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 40px;
  left: 80px;
  color: #192d57;
}
.side-chat .list-group .list-group-item .online:before {
  content: '';
  width: 12px;
  height: 12px;
  border: 3px solid #7ed321;
  position: absolute;
  right: 40px;
  top: calc(50% - 6px);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.side-chat .list-group .list-group-item .offline {
  position: absolute;
  top: calc(50% - 6px);
  right: 40px;
  color: #192d57;
}
.side-chat .list-group .message-dialog {
  margin: 10px 20px;
  position: relative;
}
.side-chat .list-group .message-dialog .ava {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 4px;
  left: 0;
}
.side-chat .list-group .message-dialog .message-text.left {
  padding-left: 40px;
  text-align: left;
}
.side-chat .list-group .message-dialog .message-text.left p {
  box-shadow: 0 1px 2px 0 rgba(234,236,238,0.8);
  border: 1px solid #dadee2;
}
.side-chat .list-group .message-dialog .message-text.left p:before {
  content: '\f0d9';
  left: -6px;
  color: #dadee2;
}
.side-chat .list-group .message-dialog .message-text.right {
  padding-right: 0px;
  text-align: right;
}
.side-chat .list-group .message-dialog .message-text.right p {
  background-color: #335baf;
  color: #fff;
}
.side-chat .list-group .message-dialog .message-text.right p:before {
  content: '\f0da';
  right: -5px;
  color: #335baf;
}
.side-chat .list-group .message-dialog .message-text p {
  text-align: left;
  display: inline-block;
  padding: 12px 17px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.side-chat .list-group .message-dialog .message-text p:before {
  display: inline-block;
  font-family: 'FontAwesome';
  position: absolute;
  top: 10px;
}
.side-chat .bottom-input {
  background-color: #f7f8fb;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.side-chat .bottom-input .search-input,
.side-chat .bottom-input .message-input {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 40px;
  opacity: 0.5;
  visibility: hidden;
}
.side-chat .bottom-input .fa {
  position: absolute;
  left: 32px;
  z-index: 2;
  color: #335baf;
  font-size: 16px;
  top: calc(50% - 8px);
}
.side-chat .bottom-input input {
  position: absolute;
  left: 20px;
  width: calc(100% - 40px);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 40px;
  outline: none;
}
.view-container header {
  background-color: #335baf;
  height: 70px;
  color: #fff;
}
.view-container header .row >div {
  height: 70px;
}
.view-container header .row >div .logo {
  font-family: 'PT Serif';
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
  position: relative;
}
.view-container header .row >div .logo:hover {
  text-decoration: none;
}
.view-container header .row >div .logo:focus {
  text-decoration: none;
}
.view-container header .row >div .logo .fa-anchor {
  position: absolute;
  top: -3px;
  left: 0;
}
.view-container header .row >div .search {
  width: 100%;
  position: relative;
}
.view-container header .row >div .search .fa-search {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 16px;
  color: #91a6d1;
}
.view-container header .row >div .search input {
  width: 100%;
  background-color: #476bb7;
  border: none;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  font-size: 15px;
}
.view-container header .row >div .search input::-webkit-input-placeholder {
  color: #91a6d1;
  font-size: 15px;
}
.view-container header .row >div .search input:-moz-placeholder {
  color: #91a6d1;
  font-size: 15px;
}
.view-container header .row >div .search input::-moz-placeholder {
  color: #91a6d1;
  font-size: 15px;
}
.view-container header .row >div .search input:-ms-input-placeholder {
  color: #91a6d1;
  font-size: 15px;
}
.view-container .navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  min-height: 40px;
  height: 40px;
  background-color: #192d57;
  margin-bottom: 0;
}
.view-container .navbar ul {
  list-style: none;
  padding: 0;
}
.view-container .navbar ul li {
  display: inline-block;
  margin-right: 18px;
}
.view-container .navbar ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-family: "Roboto Light";
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.view-container .navbar ul li a.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f8e71c;
}
.view-container .navbar ul li a.dropdown {
  padding-right: 20px;
}
.view-container .navbar ul li a .fa-angle-down {
  font-size: 20px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 1px;
}
.view-container .navbar ul li a span.badge {
  color: #f8e71c;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: -6px;
  width: 0;
  height: auto;
  font-size: 10px;
}
.view-container .lead {
  color: #4a4a4a;
  font-family: "Roboto Thin";
  font-size: 30px;
  margin-top: 34px;
}
.view-container .content-sidebar .lead {
  color: #898fa5;
}
.view-container .content-sidebar .list-group {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.view-container .content-sidebar .list-group .list-group-item {
  border: none;
  font-family: 'Roboto';
  font-size: 15px;
  position: relative;
  margin: 0;
  color: #335baf;
}
.view-container .content-sidebar .list-group .list-group-item:hover color #335baf,
.view-container .content-sidebar .list-group .list-group-item:focus color #335baf {
  background-color: rgba(236,238,245,0.2);
}
.view-container .content-sidebar .list-group .list-group-item:first-child,
.view-container .content-sidebar .list-group .list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.view-container .content-sidebar .list-group .list-group-item:last-child:after {
  height: 0;
}
.view-container .content-sidebar .list-group .list-group-item:after {
  content: '';
  height: 1px;
  width: calc(100% - 20px);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #eceef5;
}
.view-container .content-sidebar .navigate .list-group-item {
  padding: 20px 20px 20px 50px;
}
.view-container .content-sidebar .navigate .list-group-item:not(.menu-back):before {
  content: '';
  width: 12px;
  height: 12px;
  border: 3px solid #eceef5;
  position: absolute;
  left: 20px;
  top: calc(50% - 6px);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.view-container .content-sidebar .navigate .list-group-item .fa-angle-right {
  position: absolute;
  right: 20px;
  color: #c0c3cd;
  font-size: 20px;
  top: calc(50% - 10px);
}
.view-container .content-sidebar .navigate .list-group-item .fa-angle-left {
  position: absolute;
  left: 20px;
  color: #c0c3cd;
  font-size: 20px;
  top: calc(50% - 10px);
}
.view-container .content-sidebar #menu {
  overflow: hidden;
  position: relative;
}
.view-container .content-sidebar #connect .list-group-item {
  height: 80px;
}
.view-container .content-sidebar #connect .list-group-item .ava {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 20px);
  left: 20px;
}
.view-container .content-sidebar #connect .list-group-item .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 20px;
  left: 70px;
  width: 0;
  color: #192d57;
}
.view-container .content-sidebar #connect .list-group-item .fa-plus {
  position: absolute;
  top: calc(50% - 7px);
  right: 20px;
  color: #7d9de1;
}
.view-container .thumbnail {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  border: none;
}
.view-container .thumbnail .feed-info {
  font-family: "Roboto";
  color: #75819a;
  padding: 20px;
}
.view-container .thumbnail .feed-info .user {
  position: relative;
  height: 40px;
  display: block;
}
.view-container .thumbnail .feed-info .user .ava {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 20px);
  left: 0px;
}
.view-container .thumbnail .feed-info .user .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 20px;
  left: 50px;
  width: 0;
  color: #192d57;
}
.view-container .thumbnail .feed-info .country {
  height: 40px;
  line-height: 20px;
  display: inline-block;
  width: 0;
}
.view-container .thumbnail .feed-info .date {
  height: 40px;
  line-height: 20px;
  display: inline-block;
}
.view-container .thumbnail .feed-info .country:before,
.view-container .thumbnail .feed-info .date:before {
  content: '';
  position: absolute;
  left: 0px;
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #eceef5;
}
.view-container .thumbnail .feed-info .shares {
  display: inline-block;
  float: right;
  color: #335bc3;
}
.view-container .thumbnail .feed-text {
  padding: 0 20px;
}
.view-container .thumbnail .feed-actions {
  list-style: none;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 0;
}
.view-container .thumbnail .feed-actions li {
  display: inline-block;
  width: 60px;
}
.view-container .thumbnail .feed-actions li a {
  text-decoration: none;
  color: #75819a;
  font-size: 15px;
}
.view-container .thumbnail .feed-actions li a .fa {
  color: #335baf;
  margin-right: 5px;
}
.view-container .thumbnail .feed-comment {
  height: 80px;
  padding: 20px;
  background-color: #f7f8fb;
}
.view-container .thumbnail .feed-comment .user {
  position: relative;
  height: 40px;
  display: block;
}
.view-container .thumbnail .feed-comment .user .ava {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 20px);
  left: 0px;
}
.view-container .thumbnail .feed-comment .user .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 20px;
  left: 50px;
  width: 0;
  color: #192d57;
}
.view-container .thumbnail .feed-comment .text {
  color: #727e98;
}
.view-container .thumbnail .feed-comment .text:before {
  content: '';
  position: absolute;
  left: 0px;
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #eceef5;
}
.view-container .thumbnail .feed-comment-write {
  min-height: 80px;
  padding: 20px;
  background-color: #f7f8fb;
}
.view-container .thumbnail .feed-comment-write .user {
  position: relative;
  height: 40px;
  display: block;
}
.view-container .thumbnail .feed-comment-write .user .ava {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 20px);
  left: 0px;
}
.view-container .thumbnail .feed-comment-write .user .name {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  line-height: 20px;
  left: 50px;
  width: 0;
  color: #192d57;
}
.view-container .thumbnail .feed-comment-write .user:before {
  content: '';
  position: absolute;
  right: -15px;
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #eceef5;
}
.view-container .thumbnail .feed-comment-write textarea {
  resize: vertical;
  width: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.loader {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0px auto;
  width: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #335baf;
  stroke-linecap: round;
}
@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
